<h1>Showing selected article</h1>
<p>
  Title: <%= @article.title %>
</p>
<p>
  Description: <%= @article.description %>
</p>

<p>
  <%= link_to 'Edit this Item',edit_article_path(@article) %>
</p>
<p>
  <%= link_to 'Back To Articles Listing',articles_path %>
</p>